.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__container {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > input {
  margin-bottom: 10px;
}
<<<<<<< HEAD

.googleButton {
  background-color: #4285f4 !important;
}
=======
>>>>>>> 0d76e2c4d8b971f2fbd6754ba2812006a08465de
